.container {
    width: 60%;
    margin: auto;
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.display-4 {
    margin-bottom: 1rem;
}

.p {
    text-align: justify;
}